.app {
	overflow: hidden;
	height: 100%;

	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 100px auto;
	grid-template-areas: 'logo header' 'list chat';
}

.chat {
	grid-area: chat;

	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100% - 10px);
	width: calc(100% - 10px);

	border: solid 1px black;
}

.chat > * {
	height: 100%;
	width: 100%;
}
